.first-color {
	color: rgb(96,125,139);
}
.second-color {
	color: rgb(68,138,255);
}

.first-color-bg {
	background-color:  rgb(96,125,139);
}
.second-color-bg {
	background-color: rgb(68,138,255);
}

.rounded-90 {
    border-radius: .9rem!important;
}
.rounded-top-90 {
    border-top-left-radius: .9rem!important;
	border-top-right-radius: .9rem!important;
}

.width-200 {
	width: 200px;
}

.size-50 {
	width: 50px;
	height: 50px;
}
.size-20 {
	width: 20px;
	height: 20px;
	min-width: 20px;
}

.white-bg {
	background-color: #fff;
}

.no-shadow {
	box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0)
}

.text-align-icon {
	display: inline-flex;
    vertical-align: middle;
}

.pdf-icon {
	margin-bottom: 15px;
}

.chip-icon{
	margin-top: 3px;
}

a.no-link:link {
    text-decoration: none;
}

a.no-link:visited {
    text-decoration: none;
}

a.no-link:hover {
    text-decoration: none;
}

a.no-link:active {
    text-decoration: none;
}

.authors {
    padding-left: 24px;
}
.title {
	font-weight: bold;
}

.icons {
    margin-top: -20px;
}
