<div>
	{{#papers}}
	<div class="single paper">

		<p class="text-align-icon"> <i class="material-icons">label</i>
			<a href="./paper/{{id}}.html"><span class="title">{{title}}</span></a> </p>
		<br />
		<span class="authors"> {{authors}} </span>
		<br />
		<a target="_blank" href="{{url}}" class="no-link">
			<span class="mdl-chip mdl-chip--contact text-align-icon pdf-icon">
				<img class="mdl-chip__contact" src="img/pdf.png"></img>
				<span class="mdl-chip__text">PDF</span>
			</span>
		</a>
		{{#tool}}
		<a target="_blank" href="{{tool}}" class="no-link">
			<span class="mdl-chip mdl-chip--contact text-align-icon pdf-icon">
				<i class="material-icons mdl-chip__contact chip-icon no-link">code</i>
				<span class="mdl-chip__text no-link">Tool</span>
			</span>
		</a>
		{{/tool}}
		<br /><br />
	</div>
	{{/papers}}
</div>
